body {
  background-color: #f7f1ea !important;
}

.card-view {
  background-color: #ffe6bc;
  border-radius: 20px;
}

.card-view:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253);
}

.card-img {
  margin-top: 15px;
  transform: scale(1);
  transition: transform 0.5s ease;
}
.card-img:hover {
  transform: scale(1.8);
}
.overflow {
  overflow: hidden;
}

.card-title {
  color: #ffa000;
  font-weight: bold;
}
