#card-genre {
  background-color: #ffe6bc;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
}

.genre-title {
  font-size: 20px;
  font-weight: bold;
  color: #ffa000;
  text-align: center;
  margin: auto;
}

.genre-button {
  margin: auto;
  justify-content: center;
}
